body{
    background-color: grey;
}
h1 {
    color:yellow;
    font-style: italic;
    text-align: center;
    font-size: 80px;
}
img{
    position:absolute;
    right: 5%;
    padding: 20px 0px 0px 0px;
}
main p {
    padding: 20px 1400px 20px 100px;
    font-size: 20px;
    color: white;
    background-color: black;
}
main span{
    padding: 8px;
    border: 3px solid blue;
    background-color: yellow;
}
h3 {
    font-size: 40px;
    color: rgb(255, 145, 0);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
    font-style: oblique;
}
footer h3{
    padding: 1px 1px 1px 1px;
    font-size: 30px;
color: yellow;
background-color: black;

}
footer a{
    color: darkred;
    font-size: 20px;
    text-decoration: none;
}
footer h4{
    font-size: 25px;
    color: yellow;
    text-align: right;
}
footer p{
    font-size: 20px;
    color: black;
    text-align: right;
}